<?xml version="1.0"?>
<providers>
  <provider>
    <class>YouTubeProvider</class>
    <urlscheme>http://*.youtube.*/*</urlscheme>    
    <endpoint>http://www.youtube.com/oembed</endpoint>
  </provider>

  <!--
  <provider>
    <class>FlickrProvider</class>
    <urlscheme>http://*.flickr.com/photos/*</urlscheme>    
    <endpoint>http://www.flickr.com/services/oembed/</endpoint>
  </provider>
  -->
  <!--see more detail provider, http://oembed.com/-->
</providers>
